@tailwind base;
  @tailwind components;
  @tailwind utilities;

@layer base {
  h1 {
    @apply font-title text-8xl text-text-1;
  }
  h2 {
    @apply font-serif text-4xl text-text-2;
  }
  h3 {
    @apply font-serif text-3xl text-text-3;
  }
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}